html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

#iframe_holder {
    flex-grow: 1;
}

#interaction {
    position: absolute;
    top: 20em;
        left: 3em;
        width: 25em;
        height: 30em;
    padding: 1em;
    background-color: rgba(211, 211, 211, 0.6);
    border: 1px solid rgba(95, 95, 95, 0.6);
    border-radius: 2%;
}

#sim_progress {
    height: 50%;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: .45rem;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(27, 27, 27, .4);
    border-radius: 3px;
}
::-webkit-scrollbar-track{
    background: transparent;
}
